# Directories
**/dist/
**/node_modules/
**/.yarn/
**/.turbo/
**/.next/
**/dist/
**/dist-ssr/
**/server/dist/
**/public/dist/
**/.tanstack/
**/graphql/generated

# Files
*.DS_Store
*.env
*.env-local
*.env.development.local
*.env.test.local
*.env.production.local
*.log
*.local
*.cache

# Supabase
.branches
.temp

# dotenvx
.env.keys
.env.local
.env.*.local